*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.login-form {
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-feild{
    height: auto;
    box-shadow: 0 0 10px rgb(87, 87, 87);
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    width: 350px;
    padding: 15px;
    border-radius: 5px;
}

.login-form-feild input[type="email"],
.login-form-feild input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.remember-in input[type="checkbox"] {
  width: auto;
  transform: scale(1.3);
}

.remember-out {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-out a {
 text-decoration: none;
}

.remember-in {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.remember-in label {
  margin: 0;
  font-size: 17px;
}

.para1 {
    margin-bottom: 30px;
}

.para2 {
    margin-top: 10px;
}

.para2 a{
    text-decoration: none;
}

.login-form-feild button {
    width: 100%;
    padding: 5px 20px;
    background: linear-gradient(90deg, #000000, #1f2937);
    color: #ffffff;
    border: none;
    font-size: larger;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 500px) {
    .login-form-feild {
        width: 80%;
    }
    .login-form-feild h1 {
        font-size: 30px;
    }
    .login-form-feild input[type="email"],
    .login-form-feild input[type="text"] {
        font-size: 15px;
    }
    .remember-in label {
        font-size: 15px;
    }
    .login-form-feild button {
        font-size: 20px;
    }

}