.query-container{
    padding: 30px;
    background-color: #f4f7fb;
    min-height: 100vh;
    /* margin-top: 100px; */
    /* border: 1px solid red; */
}

.query-heading{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: 50px;
    color: #222;
    
}

.query-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 25px;
}

.query-card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.query-card:hover{
    transform: translateY(-5px);
}

.top-section{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.user-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.email{
    color: gray;
    font-size: 14px;
}

.message-box{
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 80px;
}

.bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-section button{
    background: orange;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}